@import url("https://fonts.googleapis.com/css?family=Assistant:400,700");
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}    
body{
    background-image: url('https://i.ibb.co/F5DRsJW/Craigslist-2-1.png%27');
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;    
}
.container {  
 max-width: 500px;
 text-align: left;
}
form {
 padding: 30px;
 background: #ecf5fc;
 border-radius: 20px;
 box-shadow: rgba(0,0,0,0.3) 0 0 10px;
}
.form-control:focus {
border-color: #000;
box-shadow: none;
}
label {
font-weight: 600;
margin: 5px;
}
.error {
color: red;
font-weight: 400;
display: block;
padding: 6px 0;
font-size: 14px;
}
.form-control.error {
border-color: red;
padding: .375rem .75rem;
}  


.button-5 {
  align-items: center;
  background-clip: padding-box;
  background: #339DFF;
  color: #fff;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
    background: #fff;
    color: #339DFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
} 

  