@import "https://fonts.googleapis.com/css?family=Assistant:400,700";
body{
    font-family: Assistant, sans-serif;
    margin: 0;
    padding: 0;
}
/*navbar shadow*/
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.navbar-nav a{
    font-size: 17px;
}
.navbar-nav a:hover{
  color: darkgray !important;
}
/*sidebar*/
p{
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}
a,
a:hover,
a:focus {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper {
  margin-top:60px;
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ABCDEF;
  color: black;
  transition: all 0.3s;
}
/*searchbar*/
.has-search .form-control {
  max-width: 200px;
  margin-left: 25px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 410px;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  /*background: #ABCDEF;*/
}
#sidebar ul.components {
  padding: 10px 10px;
  /*border-bottom: 1px solid black;*/
}
#sidebar ul li a {
  padding: 15px;
  font-size: 17px;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
}
a[data-toggle="collapse"] {
  position: relative;
}
ul ul a {
  font-size: 17px !important;
  padding-left: 30px !important;
  background: gainsboro;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
/*dropdown*/
.dropdown-menu{
  position: absolute;
  top: 90%; 
  right: 0;
  margin-left: -100px; 
}
.btn:hover{
  background-color: #006a89 !important;
}
@media (max-width: 768px) {
  .dropdown-menu{
      margin-left: 2px; 
      top: 100%; 
  }
}
@media (max-width: 800px) {
  .dropdown-menu{
      position: relative;
      margin-left: 2px; 
      top: 100%; 
  }
}
@media (max-width: 985px) {
  .dropdown-menu{
      position: relative;
      margin-left: 5px; 
      top: 100%; 
  }
}
/*sidebar*/
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}
/*img*/
div.gallery {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  width: 250px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
div.desc1{
  float: right;
  text-align: right;
}
