@import url("https://fonts.googleapis.com/css?family=Assistant:400,700");
*{  
    font-family: Assistant, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
/*navbar*/
.navbar{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
.navbar-nav a{
      font-size: 17px;
}
.navbar-nav a:hover{
    color: darkgray !important;
}
/*carousel responsive*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}
/*dropdown menu*/
.dropdown-menu{
    position: absolute;
    top: 90%; 
    right: 0;
    margin-left: -100px; 
}
.btn:hover{
    background-color: #006a89 !important;
}
@media (max-width: 768px) {
    .dropdown-menu{
        position: relative;
        margin-left: 2px; 
        top: 100%; 
    }
}
@media (max-width: 800px) {
    .dropdown-menu{
        position: relative;
        margin-left: 2px; 
        top: 100%; 
    }
}
@media (max-width: 985px) {
    .dropdown-menu{
        position: relative;
        margin-left: 5px; 
        top: 100%; 
    }
}
/*image gallery */
.img-gal{
    box-sizing: border-box; 
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
div.gallery{
    margin: 10px;
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}  
div.desc {
    padding: 15px;
    text-align: center;
}
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*back to top btn*/
#btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
/*about section
.about-section {
    background-color: #cbe1ef;
    padding: 50px;
    text-align: center;
    color: #006a89;
  }*/
/**/
/*upcoming events*/
.blog-home2 h1,
.blog-home2 h2,
.blog-home2 h3,
.blog-home2 h4,
.blog-home2 h5,
.blog-home2 h6 {
  padding: 10px;
}

.blog-home2 .font-weight-medium {
  font-weight: 500;
}

.blog-home2 .bg-light {
  background-color: #f4f8fa !important;
}

.blog-home2 .subtitle {
    color: #3e4555;
  line-height: 24px;
}

.blog-home2 .text-themecolor {
  color: #316ce8;
}

.blog-home2 h5 {
  line-height: 22px;
  font-size: 18px;
}

.blog-home2 a.link {
  color: #3e4555;
}

.blog-home2 a.link:hover {
  color: #316ce8;
}

.blog-home2 .on-hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home2 .on-hover:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.blog-home2 .date-pos {
  right: 10px;
  top: 10px;
}

.blog-home2 .date-pos span {
  font-size: 30px;
  line-height: 30px;
}
.blog-home2 .bg-info-gradiant {
    background: #188ef4;
    background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
    background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
    background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

  


